.img-ads {
  width: 350px;
  height: auto;
}

div.hr {
  width: 350px;
  border-width: 0px 0px 2px 0px;
  border-color: grey;
  /* border-color: rgb(16, 222, 198); */
  border-style: none none solid none;
}

.card-description {
  height: 100%;
}

div.card-container > p {
  overflow: hidden;
}

.container.flex-column {
  gap: 10px;
}

.container-description {
  max-width: 350px;
}

.b {
  font-weight: bold;
}
